<?xml version="1.0" ?>
<robot name="bottom_slift" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find bottom_slift_description)/urdf/materials.xacro" />
<xacro:include filename="$(find bottom_slift_description)/urdf/bottom_slift.trans" />
<xacro:include filename="$(find bottom_slift_description)/urdf/bottom_slift.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="2.83276527708134e-16 1.133106110832536e-16 0.25447440140159655" rpy="0 0 0"/>
    <mass value="80.65090000000005"/>
    <inertia ixx="9.488195" iyy="15.850532" izz="8.793991" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://bottom_slift_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://bottom_slift_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="top_slift_1">
  <inertial>
    <origin xyz="0.37499999999999983 -0.04999999999999992 -0.07015039935343464" rpy="0 0 0"/>
    <mass value="31.03890000000002"/>
    <inertia ixx="0.708186" iyy="1.501634" izz="2.209303" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.375 -0.05 -0.535" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://bottom_slift_description/meshes/top_slift_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0.375 -0.05 -0.535" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://bottom_slift_description/meshes/top_slift_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Slider1" type="prismatic">
  <origin xyz="-0.375 0.05 0.535" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="top_slift_1"/>
  <axis xyz="0.0 0.0 1.0"/>
  <limit upper="0.0" lower="0.0" effort="100" velocity="100"/>
</joint>

</robot>
