<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--should be configured in simulation.launch-->
  <arg name="world_name_global" default="worlds/empty.world"/>

  <!--To launch scanunifier set the value to true-->
  <arg name="scanunifier" value="true"/>

<!---=================================================================================================================================================================-->
  <!--Gazebo Variables-->
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name_global)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>
<!---=================================================================================================================================================================-->

  <!--Robot description to param server-->
  <param name="robot_description" command="$(find xacro)/xacro $(find bottom_slift_description)/urdf/bottom_slift.xacro"/>

  <node name="bslift_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model bottom_slift"/>

 
  <!--To publish Joint and Robot state-->
  <include file="$(find bottom_slift_description)/launch/controller_utils.launch"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="rate" value="100.0"/>
  </node>
  
  <!-- Launching lift_slider controllers -->
  <rosparam file="$(find bottom_slift_description)/launch/lift_slider_controller.yaml" command="load"/>
  <node name="bslift_controller_spawner" pkg="controller_manager" type="controller_manager" 
  args="spawn lift_slider_controller" respawn="false" output="screen"/>

</launch>



